* {
	margin: 0;
	box-sizing: border-box;
}
body {
	top: 0px !important;
	background-color: black;
	color: white;
	font-family: 'Baloo Tamma 2', cursive;
}

h1, h4 {
	-webkit-animation: glow 2.5s ease-out infinite alternate;
  -moz-animation: glow 2.5s ease-out infinite alternate;
  animation: glow 2.5s ease-out infinite alternate;
}

h1 {
    font-size: 36px;
}

h4 {
	font-size: 24px;
	font-weight: 400;
}

button {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	font-family: 'Baloo Tamma 2', cursive;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	background-color: white;
	padding: 30px;
	padding-left: 24px;
	box-shadow: none;
	transition: box-shadow 1s ease-out;
	transform: scale(1);
	text-decoration: none;
	-webkit-appearance: none;
  -moz-appearance: none;
}

button:focus {
	outline: 0;
}

button:hover {
	box-shadow: 0px 0px 70px white;
	transition: box-shadow 2s ease;
	background-color: white;
}

button.scale {
	transform: scale(0);
	transition: transform .6s ease;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: 96vh;
	min-width: 350px;
	margin: auto;
	padding: 20px 40px;
}

#text > div {
	animation: appear-text 1s ease-out;
}

#back {
	position: absolute;
	bottom: 8%;
	right: 4%;
	cursor: pointer;
	font-size: 21px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 3px rgba(255,255,255,.5);
  }
  to {
    text-shadow: 0 0 20px rgba(255,255,255,1);
  }
}

@keyframes appear-text {
	from {
		transform: translate(100px,-10px);
	}
	to {
		transform: translate(0px,0px);
	}
}