* {
	margin: 0;
	box-sizing: border-box;
}
body {
	top: 0px !important;
	background-color: black;
	color: white;
	font-family: 'Baloo Tamma 2', cursive;
}

h1, h4 {
	-webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

button {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	cursor: pointer;
	border: none;
	font-family: 'Baloo Tamma 2', cursive;
	font-size: 24px;
	line-height: 26px;
	padding: 30px;
	padding-left: 24px;
	box-shadow: none;
	transition: box-shadow 1s ease-out;
	transform: scale(1);
}

button:hover {
	box-shadow: 0px 0px 70px white;
	transition: box-shadow 2s ease;
}

button.scale {
	transform: scale(0);
	transition: transform .6s ease;
}

.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 60%;
	height: 96vh;
	min-width: 500px;
	margin: auto;
}

.google-translate {
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
}

.goog-logo-link {
	display: none !important;
}

.goog-te-gadget {
	color: transparent !important;
}

#google_translate_element {
	display: none;
}

.goog-te-banner-frame.skiptranslate {
	display: none !important;
}


@keyframes glow {
  from {
    text-shadow: 0 0 3px rgba(255,255,255,.5);
  }
  to {
    text-shadow: 0 0 20px rgba(255,255,255,1);
  }
}